openapi: 3.1.0
info:
  title: Legendary Entertainment WordPress REST block-directory pattern-directory API
  version: wp/v2
  description: 'Read-oriented content API exposed by legendary.com: the WordPress REST API (namespace wp/v2) serving Legendary Entertainment news posts, pages, media, categories and tags. Derived by API Evangelist from the live route discovery document at https://www.legendary.com/wp-json/wp/v2 . This is the platform API exposed by the marketing site, NOT a documented first-party Legendary developer program. GET collections are publicly readable without authentication; write operations require WordPress Application Password credentials.'
  contact:
    name: Legendary Entertainment
    url: https://www.legendary.com/about/
servers:
- url: https://www.legendary.com/wp-json/wp/v2
  description: Production
tags:
- name: pattern-directory
paths:
  /pattern-directory/patterns:
    get:
      operationId: getPatternDirectoryPatterns
      summary: GET /pattern-directory/patterns
      tags:
      - pattern-directory
      parameters:
      - name: category
        in: query
        required: false
        schema:
          type: integer
        description: Limit results to those matching a category ID.
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: keyword
        in: query
        required: false
        schema:
          type: integer
        description: Limit results to those matching a keyword ID.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - favorite_count
          default: date
        description: Sort collection by post attribute.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: slug
        in: query
        required: false
        schema:
          type: array
        description: Limit results to those matching a pattern (slug).
      responses:
        '200':
          description: Successful response
          headers:
            X-WP-Total:
              description: Total number of records
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next/prev)
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
components:
  schemas:
    Error:
      type: object
      description: WordPress REST API error envelope (not RFC 9457)
      properties:
        code:
          type: string
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
  responses:
    Error:
      description: WordPress REST error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: rest_post_invalid_id
            message: Invalid post ID.
            data:
              status: 404
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords, advertised by the site at https://www.legendary.com/wp-admin/authorize-application.php
